// flex布局
@mixin flex($justify: space-between, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: nowrap;
  justify-content: $justify;
  align-items: $align;
}

// 按钮
@mixin btn ($bg: #448ACA, $txt-color: #ffffff, $width: 100%, $fontSize: 14px) {
  text-align: center;
  background: $bg;
  color: $txt-color;
  width: $width;
  font-size: $fontSize;
  padding: 0.5em 0;
  border-radius: 5px;
  &:hover {
    background: #559bdb;
  }
}

// 单行显示省略号
@mixin singleline-ellipsis () {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 多行显示省略号
@mixin multiline-ellipsis () {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
